// size
$view-port: 1050px;
$nav-height: 90px;
//breackpoints
$tablets:768px;
$phones:480px;
// fonts
$main-font:'Verdana',
sans-serif;
// colors
$black: #231f20;
$white: #ffffff;
$grey:#f1f1f1;
$body: #ffffff;
$green: #63d1bb;
//variables of colors tag a
$a-color: $black;
$a-color-hover: $green;
$a-color-visited: darken($a-color, 20%);
$a-color-focus: $green;
$a-color-active: darken($grey, 20%);
//variables of colors class btn
$btn-background-color: $white;
$btn-background-color-hover: $green;
$btn-background-color-visited: darken($btn-background-color, 20%);
$btn-background-color-focus: $green;
$btn-background-color-active: darken($btn-background-color, 10%);