$fontsList: lifehack_medium, gagalin-regular, ubuntu-regular;
@mixin fontNormal {
    font-weight: normal;
    font-style: normal;
}

@each $font in $fontsList {
    @font-face {
    font-family: "#{$font}";
    src: url('fonts/#{$font}-webfont.woff2');
    @include fontNormal; 
       
    }
}




// @font-face {
//     font-family: 'lifehack';
//     src: url('fonts/lifehack_medium-webfont.woff2');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'gagalin-regular';
//     src: url('gagalin-regular-webfont.woff2');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'ubuntu-regular';
//     src: url('ubuntu-regular-webfont.woff2');
//     font-weight: normal;
//     font-style: normal;
// }
//////////////////////////////////////////////////////////////////
//  @font-face {
//     font-family: 'robotolight';
//     src: url('fonts/roboto-light_1-webfont.woff2') format('woff2'), url('../css/fonts/roboto-light_1-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// } 


// <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
// font-family: 'Merriweather', serif; 