.title {
    height: rem(250px);
    background-color: $grey;
    // position: relative; // border: 1px solid #000000;
    &__pic {
        position: absolute;
        bottom: 0;
    }
    &__title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: rem(50px);
        font-weight: 700;
        line-height: rem(57px);
        color: $black;
    }
}

.wave,.subwave {
    height: 250px;
    position: relative;
  }
  .wave {
     background-color: $grey;
  }
   
  .wave:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 20px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 11px -6px, transparent 12px, #fff 13px);    
  }
  
  .wave:after{
    content: "";
    position: absolute;
    background-repeat: repeat;
    height: 10px;
    background-size: 40px 10px;
    background-image: radial-gradient(circle at 25px 13px, #fff 12px, transparent 13px);
    right: 0;  
    left: 6px;
    bottom: 15px;
  }
  .subwave{
    height: 50px;
    position: relative;
    z-index: 2;
  }
  .subwave:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    background-repeat: repeat;
    height: 20px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 11px -6px, transparent 12px, #fff 13px);    
  }
  .subwave:after{
    content: "";
    position: absolute;
    background-repeat: repeat;
    height: 10px;
    background-size: 40px 10px;
    background-image: radial-gradient(circle at 25px 13px, #fff 12px, transparent 13px);
    right: 0;  
    left: 6px;
    bottom: 13px;
  }
  
  