.week {
    // border: 1px solid #000000;
    display: flex;
    margin-top: 50px;
    position: relative;
    &__left {
        width: 50%;
        border: 1px solid #000000;
        margin-top: rem(150px);
        margin-left: rem(250px);
        margin-right: rem(80px);
        color: #444444;
    }
    &__right {
        width: 50%;
        display: flex;
        justify-content: flex-end; // border: 1px solid #000000;
    }
    &__top {
        position: absolute;
        top: rem(50px);
        left: rem(50px);
        right: 0;
        // width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #000000;
    }
    &__adv {
        color: $green;
        font-size: rem(16px);
        font-weight: 700;
        line-height: rem(16px);
        text-transform: uppercase;
    }
    &__title {
        margin-left: 50px;
        font-size: rem(50px);
        font-weight: 700;
        line-height: rem(57px);
    }
    &__text {
        color: $black;
    }
    &__list {
        display: table;
    }
    &__item {
        display: table-row;
    }
    &__elem {
        display: table-cell;
        text-align: left;
    }

}